<div appHighlight >
<p>test Directive works!</p>
</div>
<div >
<input
  *ngIf="show"
  type="text"
  class="form-control"
  appRainbow
  [(ngModel)]="bg"
  (ngModelChange)="changeColor($event)"
>

<br>
<button class="btn btn-primary" (click)="show = !show">
    show rainbow input
</button>
<br><br>
<div class="rectangle" 
     [ngStyle]="{'background-color': bg }">

</div><br>
</div>
<ol class="list-group">
    <li *ngFor="let person of persons,let ind=index" class="list-group-item">
   {{person}}      -{{ind}}-
</ol>
<button class="btn btn-primary" (click)="loggerMesData()">
    show data </button>
    <br>
    <a href="" (click)="goToCv()" > Go to Cv </a>
